/* Fill me in :) */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
:root {
    --primary: #008000;
    --grey: #1e1e1e;
    --white: #fff;
    --backcol: #f2f2f2;
  
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
  }


body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 500;
    background-color: var(--white);
    color: var(--grey);
}

.nav {
    padding: var(--s) var(--m);
  background-color: var(--primary);
}

.navtext{
    justify-content: space-between;
}

.row{
  display: flex;
}
.column{
  flex: 50%;
}


.u-textCenter{
    text-align: center;
  }

.u-flex-justifyCenter {
    justify-content: center;
  }

  .u-flex-alignCenter {
    align-items: center;
  }
  .login {
    color: var(--grey);
  }
  .logo{
    color: var(--white);
    font-weight: 500;
    font-size: 500;
  }

